:root {
  /* Width */
  --w-100: 100%;
  --w-98: 98%;
  --w-95: 95%;
  --w-90: 90%;
  --w-80: 80%;
  --w-75: 75%;
  --w-70: 70%;
  --w-60: 60%;
  --w-55: 55%;
  --w-50: 50%;
  --w-45: 45%;
  --w-40: 40%;
  --w-35: 35%;
  --w-30: 30%;
  --w-25: 25%;
  --w-20: 20%;
  --w-15: 15%;
  --w-20-vw: 20vw;
  --w-30-vw: 30vw;
  --w-40-vw: 40vw;
  --w-45-vw: 45vw;
  --w-18-vw: 18vw;

  /* Height */
  --h-100: 100%;
  --h-40: 40%;
  --h-35: 35%;
  --h-30: 30%;
  --h-30-px: 30px;
  --h-5-vh: 5vh;
  --h-15-vh: 15vh;

  /* Margin */
  /* **margin-top** */
  --m-top-70: 70%;
  --m-top-30: 30%;
  --m-top-20: 20%;
  --m-top-15: 15%;
  --m-top-50: 50%;
  --m-top-1: 1%;
  --m-top-2: 2%;
  --m-top-5: 5%;

  --m-top-40-px: 40px;
  --m-top-20-px: 20px;
  --m-top-15-px: 15px;
  --m-top-10-px: 10px;

  --m-top-1-rem: 1rem;
  --m-top-s-rem: 0.8rem;
  --m-3-vh: 3vh;

  /* **margin-left** */
  --m-left-50: 50%;
  --m-left-40: 40%;
  --m-left-30: 30%;
  --m-left-25: 25%;
  --m-left-5: 5%;
  --m-left-1: 1%;

  --m-left-10-px: 10px;
  --m-left-au: auto;

  /* **margin-right** */
  --m-right-20: 20px;
  --m-right-40: 40px;
  --m-r-auto: auto;

  /* **margin** */
  --m-auto: auto;
  --m-5: 5%;
  --m-0-1-0-2: 0 1% 0 2%;
  --m-2: 2%;

  /* Padding */
  --pd-1: 1%;
  --pd-1-0: 1% 0;
  --pd-2: 2%;
  --pd-3: 3%;
  --pd-4: 4%;
  --pd-5: 5%;
  --pd-0-1: 0 1%;
  --pd-5-px: 5px;
  --pd-10-px: 10px;

  /* Padding-Top */
  --pt-20: 20%;

  /* Border-Width */
  --bor-w-001: 0 0 1px 0;

  /* Border-Style */
  --bor-st-sol: solid;

  /* Border-Radius */
  --br-5-px: 5px;
  --br-10-px: 10px;
  --br-15-px: 15px;

  /* Flex */
  --flex: flex;
  /* justify-content*/
  --jc-c: center;
  --jc-se: space-evenly;
  --jc-sb: space-between;

  /* align-items */
  --al-c: center;
  /* flex-flow */
  --f-flow-cw: column wrap;
  --f-flow-rw: row wrap;
  /* Inline-Flex */
  --d-in-flex: inline-flex;
}
