@import "./styles/colors.css";
@import "./styles/sizes.css";
@import "./styles/typography.css";

html {
  height: 100%;
}

body {
  margin: 0;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(254, 181, 56, 0.5), rgba(255, 114, 0, 0.6));
}
